.login-page {
  padding: 0 15px;
  
  .row { margin: 0 }
  
  .login-form {
    margin: 0 auto;
    float: none;
    
    label {
      display: block;
      @extend %clearfix;
    }
    
    p { margin-top: 20px }
  }
  
}
